 *{
	margin:0;
	padding:0; 
}
p{
	line-height: 25px;
}
body{
	font-family:'roboto', sans-serif;
}
.form{
	clear:both;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;

}
.overlay{
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.3);
}
#slider{
	background: url(../Images/background.jpg)no-repeat;
	background-position: center center;
	background-size: cover;
}
.slider-top{
	margin-top: 20px;
}
.logo{
	width:20%;
	float: left;
}
.menu{
	float:right;
	margin-top: 40px;
}
.menu ul{
	margin:0;
	padding:0:
}
.menu ul li{
	margin-bottom: 20px;
	display:inline-block;
}
.menu ul li a{
	text-decoration:none;
	font-size: 25px;
	color: #fff;
	padding: 10px 20px;
	text-transform: uppercase;

}
.menu ul li a:hover{
	color: #87d37c;
}
.slider-content{
	padding: 200px 0;
	text-align: center;
	color: #fff;
}
.slider-content h2{
	font-size: 40px;
	margin-bottom : 15px;
}
.slider-content h1{
	font-size: 67px;
	border-top:2px solid #fff; 
	border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 500px;
    display: inline-block;
    padding: 20px 30px;
    margin-bottom : 15px;
}
.slider-content h1 span{
	color: #87d37c;
}
.slider-content h3 {
	font-size:30px;
}
#about-us{
	color:#8d8c8c;
	padding: 80px;
}
.about-top {
	text-align: center;
	margin-bottom: 70px;
}
.about-top h2{
	font-size:36px;
	text-transform: uppercase;
}
.about-top p{
	width: 700px;
	margin: 0 auto;
	ma
}
.about-content{}
.about{
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: 30px;

}
.about i{
	font-size: 40px;
	margin-bottom: 20px;
}
.about h2{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.about p{
	font-size: 14px;

}
.about:hover i,
.about:hover h2{
	color: #87d37c;
}

#service{
	background: #f6f9f9;
	padding: 20px;
}
.service-top{
	text-align: center;
	color: #8d8c8c;
	margin-bottom: 30px;
}
.service-top h2{
	font-size: 36px; 
	text-transform: uppercase;
}
.service-top p{
	width: 700px;
	margin:0 auto;
}
.service-contain{

}

.services{
	width: 25%;
	float: left;
	padding-right: 15px;
}
.services img {
	width: 100%;
}
#contract-us{
	padding: 100px 0;
	color: #8d8c8c;
}
.contract-top{
	
	text-align: center;

}
.contract-top h2{
	text-transform: uppercase;
	font-size:36px;
	margin-bottom: 10px;
}
.contract-top p{
	max-width: 700px;
	margin: 0 auto;
}
.content-content{}
.contractsingle{
	width: 33.33333%;
	float: left;
	text-align: center;
	margin-top: 30px;
}
.contractsingle i{
	font-size: 85px;
	margin-bottom: 10px;
}
.contractsingle h2{
	font-size: 30px;
	margin-bottom: 10px;
}
.contractsingle h3{
	font-size: 20px;
}
.contractsingle:hover{
	color: #87d37c;
}
#form{

}
.contract-form{
	width: 50%;
	float: left;
	padding-right: 15px;

}
.contract-form input{
	width: 100%;
	padding: 13px;
    margin-bottom: 25px;

}
.message{
	width: 50%;
	float: right;
}
.message textarea{
	width: 100%;
    height: 114px;
    padding: 45px;

}
.message input {
	width: 130px;
    height: 46px;
    padding: 17px;
    text-transform: uppercase;
    color: #8d8c8c;
    margin-top: 22px;
}
.message input:hover {
	background: #87d37c;
	color: #fff;
	border:none;
}
#social-icon{
	background: #000000;
	padding: 20px 0;
	text-align: center;
}
.social-icons i{
	color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.fa-facebook{
	background: #3c599b;
}
.fa-google-plus{
	background: #cd3c2a;
}
.fa-linkedin{
	background: #007bb6;
}
.fa-twitter{
	background: #5ea9dd;
}
.fa-skype{
	background: #00aff0;
}
.fa-dribbble{
	background: #03a651;
}
footer{
	padding: 20px 0;
	text-align: center;
}
